.background {
    position: fixed;
    height: 100%;
    left: 0%;
    width: 100%;
    bottom: 0%;
    background-image: url('../../assets/longBgDark2.png');
    background-size: cover;
    background-position: right;
}
.background2 {
    position: fixed;
    height: 100%;
    left: 0%;
    width: 100%;
    bottom: 0%;
    background-image: url('../../assets/longBgDark2.png');
    background-size: cover;
    background-position: right;
}