@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import "../../styles/button.scss";
.Toastify {
    z-index: 999;
}
.wrapper {
    width: 100vw;
    height: 100%;
    background-image: url('../../assets/longBgDark2.png');
    background-size: cover;
    background-position: right;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    .leftSide {
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        flex-direction: column;
        .bigText {
            font-size: 60px;
            font-weight: bold;
        }
        .smallText {
            font-size: 25px;
        }
        a {
            color: #2BA7F3;
        }
        div {
            display: flex;
            justify-content: center;
            margin-top: 20px;
            align-items: center;
            div {
                display: flex;
                flex-direction: column;
                padding: 20px;
            }
            .statsCenter {
                border-left: 1px solid white;
                border-right: 1px solid white;
            }
            button {
                @include button
            }
            button:hover {
                @include buttonHover
            }
        }
    }
    .rightSide {
        width: 60%;
        height: 100%;
        .copy {
            font-family: 'JetBrains Mono', monospace;     
            position: fixed;
            right: 2%;
            bottom: 2%;
        }
    }
}

@media (max-width: 1350px) {
    .wrapper {
        background-position: 80% 0px;
    }
}
@media (max-width: 950px) {
    .wrapper {
        background-position: 70% 0px;
        .leftSide {
            width: 80%;
        }
    }
}
@media (max-width: 800px) {
    .wrapper {
        background-position: 75% 0px;
        .leftSide {
            width: 100%;
            margin-left: 10px;
        }
        .rightSide {
            width: 0%;
        }
    }
}
