@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
.wrapper {
    width: 100%;
    min-height: 300px;
    font-family: 'Roboto', sans-serif;
    .content {
        padding: 20px;
        min-height: 300px;
        div {
            margin-bottom: 30px;
        }
        button {
            background-color: #1d90f5;
            color: white;
            border: 1px solid #1d90f5;
            border-radius: 15px;
            padding: 5px;
            margin-left: 15px;
            font-family: 'Roboto', sans-serif;
            font-size: 13px;
            transition: 0.1s ease;
            padding-left: 20px;
            padding-right: 20px;
            outline: none;
        }
        button:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    }
}

.user {
    font-size: 20px;
    background-color: #262D37;
    border: 1px solid #262D37;
    border-radius: 15px;
    padding: 10px;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    img {
        border-radius: 50px;
        width: 30px;
        height: 30px;
    }
    p {
        margin-left: 15px;
        font-size: 23px;
    }
    button {
        background-color: #1d90f5;
        color: white;
        border: 1px solid #1d90f5;
        border-radius: 15px;
        padding: 5px;
        margin-left: 15px;
        font-size: 13px;
        transition: 0.1s ease;
        padding-left: 20px;
        padding-right: 20px;
        outline: none;
    }
    button:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}

.user:hover {
    cursor: pointer;
    background-color: #2f3846;
    border: 1px solid #2f3846;
}