.wrapper {
    width: 100%;
    .content {
        padding: 20px;
    }
    .actView {
        z-index: 2;
        font-weight: bold;
        font-size: 25px;
        padding-left: 40px;
        text-transform: capitalize;
        padding-top: 7px;
        padding-bottom: 10px;
    }
}





