.wrapper {
    width: 100%;
    .actView {
        font-weight: bold;
        font-size: 25px;
        padding-left: 40px;
        text-transform: capitalize;
        padding-top: 7px;
        padding-bottom: 10px;
    }
}





