@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    padding-right: 10px!important;
    flex-direction: column;
    .info {
        border: 1px solid #3C424B;
        padding: 20px;
        padding-bottom: 0px;
        border-radius: 20px;
        background-color: #3C424B;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .followBtn {
            button {
                color: white;
                background-color: #2BA7F3;
                border: 1px solid #2BA7F3;
                border-radius: 10px;
                padding: 5px;
                padding-left: 12px;
                margin-left: 2px;
                margin-right: 2px;
                padding-right: 12px;
                transition: 0.1s ease;
            }
            button:hover {
                cursor: pointer;
                background-color: #1c70a5;
                border: 1px solid #1c70a5;
            }
        }
        img {
            border-radius: 50px;
            margin-bottom: 0px;
        }
        .name {
            margin-top: 10px;
        }
        .bio {
            margin-top: 0px;
            margin-bottom: 15px;
            color: white;
        }
        .location, .name {
            color: #ccc7c7;
        }
        .location {
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
                margin-right: 7px;
            }
        }
        .username {
            color: gray;
            margin-top: 5px;
            margin-bottom: 20px;
        }
        .stats {
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-top: 40px;
            div {
                margin-left: 10px;
                margin-right: 10px;
                padding-bottom: 15px;
                .statName {
                    color: gray;
                }
            }
            .centerS {
                border-right: 1px solid rgb(121, 111, 111);
                border-left:  1px solid rgb(121, 111, 111);
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
    .menu {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        justify-content: center;
        align-items: center;
        .activeSection {
            background-color: #3C424B;;
            color: #2BA7F3;
            svg {
                color: #2BA7F3;
            }
        }
        div {
            background-color: #262D37;
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 32%;
            margin: 10px;
            color: white;
            border: 1px solid #3C424B;
            padding: 10px;
            border-radius: 15px;
            flex-direction: column;
            transition: 0.3s ease;
            svg {
                margin-top: 10px;
                margin-bottom: 10px;
                color: gray;
            }
        }
        div:hover {
            cursor: pointer;
            background-color: #2f3844;
        }
    }
}

@media (max-width: 1020px) {
    .wrapper {
        flex-direction: column;
        .menu {
            flex-grow: 1;
            width: 80%;
            flex-direction: row;
            div {
                width: 80px;
            }
        }
    }
}

@media (max-width: 650px) {
    .wrapper {
        flex-direction: column;
    }
}

@media (max-width: 400px) {
    .wrapper {
        .menu {
            width: 90vw;
            div {
                width: 25%;
            }
        }
    }
}