.pageWrapper {
    width: 100%;
    background-color: white;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    .page {
        overflow-x: hidden;
        min-height: 100%;
        margin: 0px auto 0px auto;
        display: flex;
        background-color: white;
        padding: 20px;
        overflow-y: hidden;
        padding-top: 0px;
        padding-bottom: 0px;
        .menu {
            width: 210px;
            margin-top: 0px;
            padding-top: 0px;
            height: 100vh;
        }
        .mobileMenu {
            position: fixed;
            bottom: 0%;
            background-color: lightgray;
            width: 100%;
            left: 0%;
            display: flex;
            justify-content: center;
            align-items: center;
            display: none;
            text-align: center;
        }
        .posts {
            max-width: 700px;
            min-width: 650px;
            border-left: lightgray 1px solid;
            border-right: lightgray 1px solid;
            padding-top: 20px;
            margin-left: 50px;
            margin-right: 50px;
            justify-content: center;
        }
        p {
            margin: 0px;
        }
        .hashtag {
            padding: 20px;
        }
    }
}

@media (max-width: 1060px) {
    .pageWrapper {
        .page {
            padding-left: 0px;
            padding-right: 0px;
            .posts {
                flex-grow: 1;
                border-left: lightgray 0px solid;
                border-right: lightgray 0px solid;
                margin-left: 0px;
                margin-right: 0px;
            }
            .menu {
                display: none;
            }
            .mobileMenu {
                display: block;
            }
            .hashtag {
                display: none;
            }
        }
    }
}


.right {
    background-color: red;
}