.posts {
    display: flex;
    flex-direction: column;
    background-color: #262D37;
    .changes {
        text-align: center;
        padding-bottom: 10px;
        padding-top: 10px;
        button {
            background-color: lightskyblue;
            border: 1px solid lightskyblue;
            border-radius: 10px;
            color: white;
            transition: 0.1s ease;
            padding: 5px;
        }
        button:hover {
            cursor: pointer;
            background-color: rgb(86, 188, 252);
        }
    }
}

.post {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    border-bottom: 1px solid rgb(236, 236, 236);
    transition: 0.1s ease;
    .img {
        max-width: 300px;
        max-height: 400px;
        margin-left: 64px;
        border: 1px solid lightgray;
        border-radius: 10px;
    }
    .top {
        display: flex;
        .left {
            margin-right: 10px;
            img {
                border-radius: 50px;
            }
        }
        .right {
            flex-grow: 1;
            position: relative;
            .info {
                display: flex;
                .infoR {
                    padding-left: 5px;
                    color: gray;
                }
                .settings {
                    margin-left: 5px;
                    position: absolute;
                    right: 0%;
                }
                .settings:hover {
                    background-color: blue;
                }
                .settingsWidget {
                    position: absolute;
                    right: 0%;
                    background-color: gray;
                    display: none;
                }
                .settingsWidgetOpen {
                    position: absolute;
                    right: 0%;
                    background-color: gray;
                }
            }
        }
    }
}
.post:hover {
    cursor: pointer;
    background-color: lightgray;
}