.wrapper {
    background-color: #3C424B;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 10px;
    padding-left: 15px;
    font-size: 25px;
    padding-right: 15px;
    border: 1px solid #3C424B;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    .userBaner {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        .username {
            color: lightgray;
        }
        div {
            margin-left: 7px;
            font-size: 15px;
            margin-right: 3px;
            img {
                border-radius: 50px;
                width: 35px;
                height: 35px;
            }
        }
        button {
            background-color: #2BA7F3;
            border: 1px solid #2BA7F3;
            padding: 5px;
            font-size: 12px;
            padding-left: 15px;
            padding-right: 15px;
            width: 100px;
            border-radius: 10px;
            font-family: 'Roboto', sans-serif;
            color: white;
            transition: 0.1s ease;
        }
        button:hover {
            cursor: pointer;
            background-color: #2085c4;
            border: 1px solid #2085c4;
        }
        .userBanerInfo {
            flex-grow: 1;
        }
    }
}