.createPost {
    margin-top: 10px;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    .createPostLeft {
        img {
            border-radius: 50px;
        }
    }
    .createPostRight {
        flex-grow: 1;
        .previewImage {
            max-width: 100px;
            max-height: 100px;
        }
        .postSettings {
            margin-top: 10px;
            display: flex;
            padding-top: 10px;
            border-top: 1px solid lightgray;
            justify-content: flex-start;
            align-items: center;
            .hashtags {
                display: flex;
                justify-content: center;
                position: relative;
                align-items: center;
                margin-bottom: 5px;
                .hashtagsList {
                    display: none;
                }
                .hashtagsListOpen {
                    position: absolute;
                    padding: 10px;
                    top: 0%;
                    background-color: lightskyblue;
                    color: white;
                    width: 160px;
                    z-index: 5;
                    border-radius: 15px;
                    ul {
                        list-style-type: none;
                    }
                }
                input {
                    width: 70px;
                    height: 20px;
                    outline: none;
                    background-color: #2BA7F3;
                    border: 1px solid #2BA7F3;
                    color: white;
                    border-radius: 10px;
                    padding-left: 10px;
                    padding-right: 10px;
    
                }
                button {
                    padding: 3px;
                    margin-left: 5px;
                    background-color: #2BA7F3;
                    border: 1px solid #2BA7F3;
                    border-radius: 10px;
                    padding-left: 10px;
                    padding-right: 10px;
                    color: white;
                }
                button:hover {
                    cursor: pointer;
                }
            }
            .file {
                width: 0px;
                height: 0px;
            }
            svg {
                margin: 5px;
                margin-right: 10px;
                font-size: 20px;
                transition: 0.1s ease;
            }
            svg:hover {
                cursor: pointer;
                color: gray;
            }
            .button {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                flex-grow: 1;
                button {
                    color: white;
                    border: 1px solid #2BA7F3;
                    background-color: #2BA7F3;
                    border-radius: 10px;
                    padding: 5px;
                    padding-left: 15px;
                    padding-right: 15px;
                    transition: 0.1s ease;
                    align-self: flex-end;
                }
                button:hover {
                    cursor: pointer;
                    background-color: rgb(77, 182, 247);
                }
            }
        }
        .inputText {
            font-family: 'JetBrains Mono', monospace;
            padding-top: 20px;
            border: 0px;
            font-size: 20px;
            padding-left: 15px;
            height: 40px;
            background-color: #3C424B;
            color: white;
            width: 100%;
            resize: none;
        }
        .inputText:focus {
            outline: none;
        }
    }
}

.filebutton {
    width:120px;
    height:40px;
    overflow:hidden;
    position:relative;
}

.filebutton span input {
    z-index: 999;
    line-height: 0;
    font-size: 50px;
    position: absolute;
    top: -2px;
    left: -700px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -ms-filter: "alpha(opacity=0)";
    cursor: pointer;
    _cursor: hand;
    margin: 0;
    padding:0;
}

.close {
    color: lightskyblue;
}
.close:hover {
    cursor: pointer;
}