.wrapper {
    font-family: 'Roboto', sans-serif;
    color: white;
    min-height: 300px;
    display: flex;
    align-items: center;
    font-size: 25px;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px;
    min-width: 600px;
    background-color: #3C424B;
    border: 1px solid #3C424B;
    border-radius: 15px;
}