.wrapper {
    width: 100%;
    background-color: #3C424B;
    font-family: 'JetBrains Mono', monospace;
    padding: 20px;
    border-radius: 10px;
    margin-right: 15px;
    .search {
        display: flex;
        justify-content: center;
        align-items: center;
        input {
            outline: none;
            padding-right: 10px;
            background-color: transparent;
            color: white;
            border: 1px solid transparent;
            font-size: 18px;
            width: 160px;
        }
        padding-bottom: 15px;
    }
    .popular {
        div {
            p {
                font-size: 20px;
            }
            b {
                color: gray;
            }
            padding: 10px;
            border-bottom: 1px solid lightgray;
        }
        .more {
            margin-top: 10px;
            color: gray;
            text-align: center;
        }
    }
}
.divHashtag {
    transition: 0.1s ease;
}
.divHashtag:hover {
    cursor: pointer;
    color: lightgray;
}

