$lightBlue: lightskyblue;
$darkestLightBlue: rgb(86, 188, 252);
$coffe: #9aa5b5;
$lightGray: #57606e;
$middleGray: #4f5764;
$red: rgb(221, 133, 133);
$blue: #2BA7F3;
$middleBlue: #1d90f5;
$dark: #323644;