.page {
    overflow-x: hidden;
    min-height: 200%;
    background-color: #3C424B;
    padding: 0px;
    overflow-y: hidden;
    padding-top: 0px;
    padding-bottom: 0px;
    .sideMenu {
        width: 220px;
        margin-top: 0px;
        padding-top: 0px;
        z-index: 4;
        height: 100vh;
        background-color: #262D37;
        height: 100%;
    }
    .mobileMenu {
        position: fixed;
        bottom: 0%;
        background-color: #262D37;
        width: 100%;
        left: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
        z-index: 10;
        text-align: center;
    }
    p {
        margin: 0px;
    }
    .topMenu {
        position: fixed;
        top: 0%;
        left: 220px;
        height: 80px;
        width: calc(100% - 220px);
        background-color: #3C424B;
        -webkit-box-shadow: -1px 8px 24px 1px rgba(66, 68, 90, 1);
    -moz-box-shadow: -1px 8px 24px 1px rgba(66, 68, 90, 1);
    box-shadow: -1px 8px 24px 1px rgba(66, 68, 90, 1);
        z-index: 3;
    }
    .content {
        position: absolute;
        left: 220px;
        min-height: calc(100% - 80px);
        background-color: #262D37;
        display: flex;
        justify-content: center;
        top: 80px;
        padding-bottom: 10px;
        width: calc(100% - 220px);
        .background {
            position: fixed;
            z-index: 0;
            background-image: url('../../../assets/backgroundPurple.jpg');
            background-size: cover;
            width: 100%;
            height: 350px;
            left: 0%;
            top: 0%;
        }
        .posts {
            margin-bottom:50px;
            z-index: 2;
            margin-top: 160px;
            flex-grow: 1;
            background-color: #3C424B;
            border-radius: 10px;
            color: white;
            max-width: 700px;
            min-width: 500px;
            height: 100%;
            padding-top: 20px;
            margin-left: 50px;
            margin-right: 50px;
            justify-content: center;
        }
        .searchContainer {
            margin-bottom:50px;
            z-index: 2;
            margin-top: 160px;
            padding: 40px;
            height: 300px;
            flex-grow: 1;
            background-color: #3C424B;
            border-radius: 10px;
            color: white;
            max-width: 700px;
            min-width: 650px;
            padding-top: 20px;
            margin-left: 50px;
            margin-right: 50px;
            text-align: center;
        }
        .profileContainer {
            margin-bottom:50px;
            z-index: 2;
            margin-top: 160px;
            padding: 40px;
            height: 300px;
            flex-grow: 1;
            background-color: #3C424B;
            border-radius: 10px;
            color: white;
            max-width: 700px;
            min-width: 650px;
            padding-top: 20px;
            margin-left: 50px;
            margin-right: 50px;
            text-align: center;
        }
        .cover {
            width: 200px;
        }
        .hashtag {
            margin-right: 20px;
            padding: 20px;
            z-index: 1;
            min-width: 200px;
            border-radius: 10px;
            color: white;
            margin-top: 200px;
        }
        .hashtagAlone {
            padding: 20px;
            z-index: 1;
            min-width: 400px;
            border-radius: 10px;
            color: white;
            margin-top: 200px;
        }
    }
}


@media (max-width: 1200px) {
    .sideMenu {
        display: none;
    }
    .page {
        .topMenu {
            width: 100%;
            left: 0px;
        }
        .content {
            width: 100%;
            left: 0px;
        }
        .mobileMenu {
            display: block;
        }
    }
}

@media (max-width: 1000px) {
    .cover {
        display: none;
    }
    .hashtag {
        display: none;
    }
}

@media (max-width: 700px) {
    .page {
        .content {
            overflow: hidden;
            .posts {
                min-width: 450px;
                margin-right: 0px;
                margin-left: 0px;
            }
            .background {
                width: 1000px;
            }
        }
    }
}

@media (max-width: 1555px) {
    .cover {
        display: none;
    }
}